/* Application main color palette */
:root {
  --primary-color: #a29bfe;
  --secondary-color: #74b9ff;
  --font-primary-color: #222f3e;
  --font-secondary-color: #576574;
  --gray-lightened: #b0b0b0;
  --background-light-color: #eef1f3;
}

.text-primary {
  color: var(--font-primary-color);
}

.text-secondary {
  color: var(--font-secondary-color);
}

.text-violets {
  color: var(--primary-color);
}

.text-blueish {
  color: var(--secondary-color);
}

.bg-violets {
  background-color: var(--primary-color) !important;
}

.bg-blueish {
  background-color: var(--secondary-color) !important;
}

.bg-light {
  background-color: var(--background-light-color) !important;
}
