/* TAILWIND - CSS FRAMEWORK DIRECTIVES */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE BLUE BG ON INPUT AUTOCOMPLETE */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
