<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - Logowanie</title>
</head>
<body>
  <tytul>eObieg</tytul>
    <tablenav>
      <tbody>
        
        <td><a href="/">Home</a></td> 
        <td></td>
        <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr> 
      </tbody>
    </tablenav>
  <srodek>
    
  


    <h3>Logowanie do systemu</h3>
    <form action="logowanie" method="POST">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Hasło</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
                <td><input type="email" id="email" name="email" placeholder="Email użytkownika" required></td>
                <td><input type="password" id="password" name="password" placeholder="Hasło" required></td>
                <td><button type="submit">Zaloguj się</button></td>
              </tr>  
            </tbody>
          </table>
    </form> 


    <ul style="margin-top: 30px;">
      <% if(messages.success_msg) { %> 
        <li><%= messages.success_msg %></li> 
      <% } else if (messages.error_msg) { %>
        <li><%= messages.error_msg %></li> 
      <% } %> 
    </ul>

  </srodek>
  </body>
</html>
