<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - Logowanie</title>
</head>
  <body>
    <tytul>eObieg</tytul><br>
  <srodek>

    <nawigacja>
            <content>
                <linki>
                  <button><a href="/">Home</a></button>
                </linki>
            </content>
    </nawigacja><br>

    <ul>
      <% if(messages.success_msg) { %> 
          <li><%= messages.success_msg %></li> 
     <% }  %> 
    </ul>

    <ul>
      <% if(messages.error) { %> 
          <li><%= messages.success_msg %></li> 
     <% }  %> 
    </ul>


    <content>
        <form action="logowanie" method="POST">

            <a1>Podaj email</a1>
            <div>
              <input type="email" id="email" name="email" placeholder="Email użytkownika" required>
            </div>
  
              <a2>Podaj hasło</a2>
              <div>
              <input type="password" id="password" name="password" placeholder="Hasło" required>
              </div>
  
            <input type="submit" value="Zaloguj się" style="color: white;"/>
        </form>
    </content>

  </srodek>

  </body>
</html>
