<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - POLAND</title>
</head>
  <body>
    <tytul>eObieg</tytul><br>
   <srodek>
    <content>
      <video width="640" height="480" controls>
         <source src="/drift/miesny.mp4" type="video/mp4">
         Your browser does not support the video tag.
       </video>
    </content>

  </srodek>
  </body>
</html>
