<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - Dodawanie użytkownika</title>
</head>

<body>
  <tytul>eObieg <span style="font-family: 'Times New Roman', Times, serif; font-style: italic; color: darkmagenta; font-weight: lighter;">alfa</span></tytul>

  <tablenav>
    <tbody>
        <tr>
          <form action="/wylogowanie" method="POST">
            <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
          </form>    
        <td><a href="/users/userlist">Lista użytkowników</a></td>
        <a href="/users/userPanel">Panel użytkownika</a>  
       </tr>
       <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr> 
    </tbody>
</tablenav>

        


  <srodek>

    <ul>
      <% if(typeof errors != 'undefined') { %> 
        <% errors.forEach(error=>{%>
          <li><%= error.message %></li>
        
          
     <% })  %> <% } %>
    </ul>

  
    <h2>Wprowadź dane nowego użytkownika systemu eObieg</h2>
          <p>Pamiętaj aby wypełnić wszystkie pola, a hasło ma mieć minimalną długość 6 znaków</p>
      <form action="/users/rejestracja" method="POST">
        <table>
          <thead>
            <tr>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Email</th>
              <th>Hasło</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
                  <td><input type="name" id="name" name="name" placeholder=" " required></td>
                  <td><input type="surname" id="surname" name="surname" placeholder=" " required></td>
                  <td><input type="email" id="email" name="email" placeholder=" " required></td>
                  <td><input type="password" id="password" name="password" placeholder=" " required></td>                  
                  <td><button type="submit">Dodaj użytkownika</button></td>
                </tr>  
          </tbody>
        </table>
        
      </form>       
    
  </srodek>





  </body>
</html>
