<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - Panel Użytkownika</title>
</head>

<body>
  <tytul>eObieg</tytul>

<tablenav>
  <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" >Wyloguj użytkownika</button>
        </form>     
      </tr> 
      <tr>Zalogowano jako <%=user%></tr>
    </tbody>
</tablenav>

  <srodek>

        <table>
          <h2>Twoje materiały</h2>
            <tbody>
            <tr>
                  <td><button><a href="/users/filelist">Pliki</a></button></td>
                  <td><button><a href="/users/doclists">Dokumenty</a></button></td>
                  <td><button><a href="/users/userlist">Użytkownicy</a></button></td>                  
            </tr>  
          </tbody>
        </table>


        <ul style="margin-top: 30px;">
          <% if(messages.success_msg) { %> 
            <li><%= messages.success_msg %></li> 
          <% } else if (messages.error_msg) { %>
            <li><%= messages.error_msg %></li> 
          <% } %> 
        </ul>

  </srodek>
</body>
</html>