<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Dodawanie dokumentu</title>
</head>

<body>
  <tytul>eObieg</tytul><br>

  <tablenav>
    <tbody>
        <tr>
          <form action="/wylogowanie" method="POST">
            <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
          </form>    
        <td><a href="/users/doclists">Lista dokumentów</a></td>
        <a href="/users/userPanel">Panel użytkownika</a>  
       </tr> 
       <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr>
    </tbody>
</tablenav>





<srodek>
  <form method="POST" action="/documents">
    <input type="hidden" id="user_id" name="user_id" value="<%= userId %>" required>

  <table>
    <thead>
      <tr>
        <th>Tytuł dokumentu</th>
        <th>Plik</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <tr>
            <td><input type="text" id="document_title" name="document_title" required></td>
              <td><select id="file_id" name="file_id">
                <% files.forEach(function(file) { %>
                  <option value="<%= file.id_file %>"><%= file.name_file %></option>
                <% }); %>
              </select></td>
               
              <td><input type="submit" value="Preślij dokument do systemu"></td>                     
      </tr>  
    </tbody>
    <tbody2>
      
      <tr>
        
        <td><h2>Notatka</h2><td><textarea id="note" name="note" style="height: 200px; width: 400px;"></textarea></td>
        
      </tr>
      
    </tbody2>
  </table>        
  </srodek>
</body>
</html>
