<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Dokumenty</title>
</head>

<body>
  <tytul>eObieg</tytul><br>

<tablenav>
  <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" style="color: white;">Wyloguj użytkownika</button>
        </form>
          <a href="/users/docform">Dodaj dokument</a>
          <a href="/users/userPanel">Panel użytkownika</a>
        </form>     
       </tr> 
       <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr>
    </tbody>
</tablenav>

<srodek>
<% if (documents.length === 0) { %>
  <h3>Brak dokumentów do wyświetlenia</h3>
<% } else { %>
<table>
  <h3>Dokumenty przypisane do tego konta</h3>
  <thead>
    <tr>
      <th>Numer identyfikacyjny</th>
      <th>Tytuł dokumentu</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% documents.forEach((document) => { %>
    <tr>
          <td><%= document.id_document %></td>
          <td><%= document.title_document %></td>
          <td><a href="/users/document/<%= document.id_document %>"><button style="color: white;">Podgląd</button></a>
          <a href="/users/docsend/<%= document.id_document %>"><button style="color: white;">Prześlij</button></a></td>                     
     </tr>  
    </tr>
    <% }); %>
  </tbody>
</table>        
  <% } %>




 

</srodek>
</body>
</html>
