<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Dokumenty</title>
</head>

<body>
  <tytul>eObieg</tytul>
  <srodek>

   <form method="POST" action="/users/docsend">
      <input type="hidden" name="document_id" value="<%= documentId %>">
      <label for="email">Wybierz adres email:</label>
      <select name="email" id="email">
        <% emails.forEach((email) => { %>
          <option value="<%= email %>"><%= email %></option>
        <% }); %>
      </select>
      <button type="submit">Wyślij</button>
    </form>
    
    
    

  </srodek>
</body>
</html>
