<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg</title>
</head>

<tytul>eObieg</tytul>
<tablenav>
  <tbody>
      <tr>
        <a href="/users/logowanie">Logowanie</a>     
      </tr> 
      <tr></tr>
      <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr>
    </tbody>
</tablenav>
<srodek>
  <h3 style="font-style: italic;">Zmniejsz koszty, zwiększ efektywność</h3>

            
  
<div style="text-align: center;">Aplikacja eObieg to system informatyczny, który umożliwia automatyzację procesu obiegu dokumentów w organizacji.
  Dzięki temu systemowi, przetwarzanie i przechowywanie dokumentów odbywa się w sposób zautomatyzowany i cyfrowy, 
  co pozwala na oszczędność czasu, poprawę jakości obsługi klienta oraz obniżenie kosztów związanych z obsługą 
  dokumentów.Dokumenty w aplikacji eObieg mogą być przesyłane między różnymi działami i pracownikami w organizacji, 
  w celu przetworzenia lub uzyskania potrzebnej akceptacji lub podpisu. W systemie tym możliwe jest również 
  zdefiniowanie reguł dotyczących przetwarzania dokumentów, co pozwala na optymalizację procesów biznesowych i zwiększenie 
  efektywności działania firmy.Wszystkie operacje związane z dokumentami w aplikacji eObieg są dokładnie rejestrowane i przechowywane 
   w celu późniejszej weryfikacji i kontroli. Ponadto, system ten umożliwia udostępnianie dokumentów dla 
   pracowników w sposób bezpieczny i kontrolowany, co zapobiega nieuprawnionemu dostępowi do poufnych informacji.
   Korzyści wynikające z wykorzystania aplikacji eObieg to przede wszystkim zwiększenie efektywności pracy oraz poprawa 
   jakości obsługi klienta. System ten pozwala na szybsze przetwarzanie dokumentów, co przekłada się na szybszą reakcję 
   na potrzeby klientów. Ponadto, zautomatyzowany proces obiegu dokumentów umożliwia zminimalizowanie błędów ludzkich 
   oraz oszczędność czasu i kosztów związanych z przetwarzaniem i przechowywaniem dokumentów papierowych.
   Aplikacja eObieg może być dostosowana do indywidualnych potrzeb i wymagań każdej organizacji, co pozwala 
   na optymalne wykorzystanie jej funkcjonalności w celu usprawnienia działalności biznesowej i 
   zwiększenia konkurencyjności na rynku.</div>



  </srodek>
</body>
</html>
