<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <style>body {
      background-image: url('/images/tlo.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: white;
      font-family: 'Poppins', sans-serif;
  }</style>
    <title>eObieg</title>
</head>

<body>
  <tytul>eObieg</tytul><br>
<srodek>

  <nawigacja>
    <content>
      <linki style="margin-bottom: 30px;">
      <button><a href="/users/logowanie">Logowanie</a></button>
      <button><a href="/about/informacje">Informacje</a></button>
    </linki>
  </content>
</nawigacja> 

<div>
  <content>
    <img src="/images/logo.png" alt="Logo aplikacji" class="logo-img" style="width: 300px; height: 300px;">
  </content>
</div>
  <h1>eObieg</h1>
  <p style="font-style: italic;">zmniejsz koszty, zwiększ efektywność</p>
  </srodek>
</body>
</html>
