<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg</title>
</head>

<body>
  <tytul>eObieg</tytul><br>
<srodek>
  <h2 style="font-style: italic;">eObieg - zmniejsz koszty, zwiększ efektywność</h2>
  <nawigacja>
          <content>
              <linki>
        <button><a href="/users/logowanie">Logowanie</a></button>
        <button><a href="/about/informacje">Informacje</a></button>
      </linki>
    </content>
    </nawigacja><br>

    <content>
      <img src="/images/logo.png" alt="Logo aplikacji" class="logo-img">
    </content>
  </srodek>
</body>
</html>
