<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Tworzenie ścieżki</title>
</head>

<body>
  <tytul>eObieg <span style="font-family: 'Times New Roman', Times, serif; font-style: italic; color: darkmagenta; font-weight: lighter;">alfa</span></tytul>

  <tablenav>
    <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
        </form>    
        <a href="/users/pathList">Lista ścieżek</a>  
        <a href="/users/userPanel">Panel użytkownika</a>  
      </tr>
      <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr> 
    </tbody>
  </tablenav>

  <srodek>
    <h2>Tworzenie nowej ścieżki sprawy</h2>
    <form action="/paths/create" method="POST">
      <label for="name_path">Nazwa ścieżki:</label>
      <input type="text" id="name_path" name="name_path" required><br><br>

      <label for="opis_path">Opis ścieżki:</label>
      <textarea id="opis_path" name="opis_path" required></textarea><br><br>

      <button type="submit">Stwórz</button>
    </form>
  </srodek>
</body>
</html>
