<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Edycja drogi</title>
</head>

<body>
  <tytul>eObieg <span style="font-family: 'Times New Roman', Times, serif; font-style: italic; color: darkmagenta; font-weight: lighter;">alfa</span></tytul>

  <tablenav>
    <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
        </form>    
        <a href="/users/pathList">Lista ścieżek</a> 
        <a href="/users/userPanel">Panel użytkownika</a>  
      </tr>
      <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr> 
    </tbody>
  </tablenav>

  <srodek>
    <form action="/users/savePathPrefix/<%= path.id_path %>" method="POST">
      <table>
        <thead>
          <tr>
            <th>Wybierz etap</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
                <td><select id="id_group_patpref" name="id_group_patpref">
                  <% groups.forEach(group => { %>
                    <option value="<%= group.id_group %>"><%= group.name_group %></option>
                  <% }) %>
                </select></td>
                <td><button type="submit">Dodaj</button></td>        
           </tr>  
        </tbody>
      </table>
    </form>

  </srodek>
</body>
</html>


