<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - uploads</title>
</head>

<body>
  <tytul>eObieg</tytul><br>
<srodek>
  <h1>Lista plików:</h1>
  <ul>
    <% files.forEach(function(file) { %>
      <li><%= file.name_file %></li>
    <% }); %>
  </ul>

<button><a href="/users/uploads">Prześlij kolejny plik</a></button>
<button><a href="/users/userPanel">Powrót do panelu użytkownika</a></button>
</srodek>
</body>
</html>
