<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - uploads</title>
</head>

<body>
  <tytul>eObieg</tytul><br>
<srodek>
  <div style="margin-bottom: 20px;" >

    <div>Proszę wybierz plik który chcesz przesłać</div>

    <div>Obsługiwane formaty plików to .docx oraz .pdf</div>

    <div>Maksymalny rozmiar pliku to 10Mb</div>
  
  </div>
  <form method="POST" action="/users/uploads" enctype="multipart/form-data">
    
    <div>
      <input type="file" name="image">
    </div>
    
    <div>
        <input type="submit" value="Prześlij plik" style="color: white;">
    </div>
    
  </form>
  </srodek>
</body>
</html>
